/* the --color-header and others are CSS variables, which we access later. 
*/
/* For flashed messages; make them stand out using red and italics */

body {
    margin: 2%;
    margin-top: 0.2%;
}

#messages {
    color: #084484;
    font-style: italic;
}

#weight_exp {
    font-style: italic;
    font-weight: lighter;
}

#alg_button {
    background-color: cadetblue;
    color:white;
}

.weight_display {
    text-align: right;
    align-content: right;
}

.rank {
    text-align: center;
}

h1 {
    font-size: 200%;
    color: #084484;
}

h2, h3, h4, .courses a{
    color: #084484;
}
    
.signup:hover, .signup{
    background-color: white;
}

/* for a simple navbar. Talk to Scott if you want drop-downs. */
nav > ul {
    display: flex;
    flex-direction: row-reverse;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav > ul > li {
    flex: 0 0 auto;
    width: 15em; 
}

nav button, nav a {
    display: block;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 110%;
    /* Firefox uses font -apple-system unless I repeat the font spec here. */
}

nav {
    text-align: right;
}

/* Only the top-level buttons are centered; lower ones are left-aligned. */
nav > ul > li > button , nav > ul > li > a {
    text-align: center;
    color: #084484;
}

/* because of the margin trick, this can only be used for the last element */

nav li.right {
    margin-left: auto;
}

.col {
    border-radius: 20px;
}

.matches .col {
    text-align: center;
    margin: 3%;
    padding: 10%;
    background-color: #c9c9c9;
}

.courses .col {
    text-align: center;
    margin: 1%;
    padding: 3%;
    background-color: #c9c9c9;
}

iframe {
    height: 70em;
}

a:hover{
    text-decoration: none;
}

.courses a {
    font-size: 115%;
}

button:hover, button:focus, nav a:hover, nav a:focus, .courses a:hover {
    text-decoration: none;
    color: #c9c9c9;
    background-color: #084484;
}

button {
    border-radius: 10px;
    background-color: #c9c9c9;
    border: none;
}

form > button {
    height: 35%;
    margin-top: 4%;
    margin-left: 2%;
}

.submit_button {
    margin-top: 2%;
}

.inline_button {
    float: right;
    margin-left: 2%;
    height: 70%;
    margin-top: 0.7%;
}

.bottom_button {
    position: fixed;
    right: 3%;
    padding: 0.2%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

figure {
    width: 100%;
    text-align: center;
    margin: 3%;
    padding: 10%;
  }

img {
    width: 60%;
    text-align: center;
    margin: 3%;
    padding: 10%;
}

figcaption {
    text-align: center;
    color: #084484;
    font-size: 120%;
  }

.signup_header, .signup_sub {
    text-align: center;
}

.signup_header {
    margin-top: 10%;
    font-size: 300%;
}
