{% extends "base.html" %}

{% block main_content %}
<h1>Choose your top 5 courses:</h1><br>

<div class="container">
  <form>
    <div class="form-group">
      <label for="course1">Choose your first course.</label>
      <select class="form-control" id="course1">
        <option>CS 304</option>
        <option>CS 111</option>
        <option>CS 242</option>
        <option>CS 331</option>
        <option>CS 204</option>
      </select>
    </div>
    <div class="form-group">
      <label for="course2">Choose your second course.</label>
      <select class="form-control" id="course2">
        <option>CS 304</option>
        <option>CS 111</option>
        <option>CS 242</option>
        <option>CS 331</option>
        <option>CS 204</option>
      </select>
    </div>
    <div class="form-group">
      <label for="course3">Choose your third course.</label>
      <select class="form-control" id="course3">
        <option>CS 304</option>
        <option>CS 111</option>
        <option>CS 242</option>
        <option>CS 331</option>
        <option>CS 204</option>
      </select>
    </div>
    <div class="form-group">
      <label for="course4">Choose your fourth course.</label>
      <select class="form-control" id="course4">
        <option>CS 304</option>
        <option>CS 111</option>
        <option>CS 242</option>
        <option>CS 331</option>
        <option>CS 204</option>
      </select>
    </div>
    <div class="form-group">
      <label for="course5">Choose your fifth course.</label>
      <select class="form-control" id="course5">
        <option>CS 304</option>
        <option>CS 111</option>
        <option>CS 242</option>
        <option>CS 331</option>
        <option>CS 204</option>
      </select>
    </div>
  </form>
  </div>

{% endblock %}
