{% extends "base.html" %}

{% block main_content %}

<h1>Tell us a bit about yourself:</h1> 
<br>
<form method="post" action="{{url_for('preferences')}}">
  <div class="col">
  <div class="row">
    <label for="classYear">Enter your class year:&nbsp;</label><br>
    <input type="text" id="classYear" name="classYear" required="required"><br>
  </div><br>
  <div class="row">
    <label for="major1">Enter your major:&nbsp;</label>
    <select id="major1" name="major1">
      <option value="none">Select your major... </option>
        <option value="CS">Computer Science</option>
        <option value="DS">Data Science</option>
        <option value="MAS">Media Arts & Sciences</option>
        <option value="other">Other</option>
    </select>
  </div><br>
  <div class="row">
    <label for="major2">Enter your second major...&nbsp;</label><br>
    <input type="text" id="major2" name="major2"><br>
  </div><br>
  <div class="row">
    <label for="minor">If you have a minor, select it here:&nbsp;</label><br>
    <select id="minor" name="minor">
      <option value="none">Select your minor...</option>
        <option value="CS">Computer Science</option>
        <option value="DS">Data Science</option>
        <option value="MAS">Media Arts & Sciences</option>
        <option value="other">Other</option>
    </select>
  </div><br>
</div>

<h1>Choose your top 5 courses:</h1><br>
  
  <table>
    <tr>
      <th>Rank</th>
      <th>Course Title</th>
      <th>Weight<span id="weight_exp"> (distribute 500 points across your choices,
        assigning points to indicate the weight of your preference for the course.)</span></th>
    </tr>
    <tr>
      <td class="rank">1</td>
      <td>
        <select id="course1" name="course1">
          <option value="none">Choose a course...</option>
          {% for row in rows %}
            <option value="{{row['courseid']}}">{{row['name']}}</option>
          {% endfor %}
        </select></td>
      <td><input type="text" id="weight1" name="weight1" value="{{weight1}}"></td> 
    </tr>
    <tr>
      <td class="rank">2</td>
      <td>
        <select id="course2" name="course2">
          <option value="none">Choose a course...</option>
          {% for row in rows %}
            <option value="{{row['courseid']}}">{{row['name']}}</option>
          {% endfor %}
        </select></td>
      <td><input type="text" id="weight2" name="weight2" value="{{weight2}}"></td> 
    </tr>
    <tr>
      <td class="rank">3</td>
      <td>
        <select id="course3" name="course3">
          <option value="none">Choose a course...</option>
          {% for row in rows %}
            <option value="{{row['courseid']}}">{{row['name']}}</option>
          {% endfor %}
        </select></td>
      <td><input type="text" id="weight3" name="weight3" value="{{weight3}}"></td> 
    </tr>
    <tr>
      <td class="rank">4</td>
      <td>
        <select id="course4" name="course4">
          <option value="none">Choose a course...</option>
          {% for row in rows %}
            <option value="{{row['courseid']}}">{{row['name']}}</option>
          {% endfor %}
        </select></td>
      <td><input type="text" id="weight4" name="weight4" value="{{weight4}}"></td> 
    </tr>
    <tr>
      <td class="rank">5</td>
      <td>
        <select id="course5" name="course5">
          <option value="none">Choose a course...</option>
          {% for row in rows %}
            <option value="{{row['courseid']}}">{{row['name']}}</option>
          {% endfor %}
        </select></td>
      <td><input type="text" id="weight5" name="weight5" value="{{weight5}}"></td> 
    </tr>
  </table>
  <input type='submit' name='submit' value='Calculate my matches!'>
  </form>

{% endblock %}
