{% extends "base.html" %}

{% block main_content %}
<h1>Welcome, {{name}}!</h1><br>

<h3>Your Matches:</h3>
<div class="container">
    <div class="matches row">
      <div class="col">
        {{match1}}
      </div>
      <div class="col">
        {{match2}}
      </div>
      <div class="col">
        {{match3}}
      </div>
    </div>
  </div>

<h3>Your Top 5 Courses:</h3>
<div class="container">
  <div class="courses row">
    <div class="col">
      {{course1}}
    </div>
    <div class="col">
      {{course2}}
    </div>
    <div class="col">
      {{course3}}
    </div>
    <div class="col">
      {{course4}}
    </div>
    <div class="col">
      {{course5}}
    </div>
  </div>
</div>

{% endblock %}
