{% extends "base.html" %}

{% block main_content %}
<h1>Welcome, {{name}}!</h1><br>

<h3>Your Matches:</h3>
<div class="container">
    <div class="matched row">
      {% for match in matches %}
      <a class="col" href="{{url_for('course', status=status, courseid=match['course'])}}">
        <div>
          CS {{match['course']}}<br>{{match['name']}}
        </div>
      </a>
      {% endfor %}  
    </div>
  </div>

<h3>Your Top 5 Courses:</h3>
<div class="container">
  <div class="courses row">
  <a class="col" href="{{url_for('course', status=status, courseid=course1)}}">
    <div>
      CS {{course1}}<br>{{course1name}}
    </div>
  </a>
  <a class="col" href="{{url_for('course', status=status, courseid=course2)}}">
    <div>
      CS {{course2}}<br>{{course2name}}
    </div>
  </a>
  <a class="col" href="{{url_for('course', status=status, courseid=course3)}}">
    <div>
      CS {{course3}}<br>{{course3name}}
    </div>
  </a>
  <a class="col" href="{{url_for('course', status=status, courseid=course4)}}">
    <div>
      CS {{course4}}<br>{{course4name}}
    </div>
  </a>
  <a class="col" href="{{url_for('course', status=status, courseid=course5)}}">
    <div>
      CS {{course5}}<br>{{course5name}}
    </div>
  </a>
  </div>
</div>

{% endblock %}
