{% extends "base.html" %}

{% block main_content %}
<h1>Welcome, studentName!</h1><br>

<h3>Your Matches:</h3>
<div class="container">
    <div class="matches row">
      <div class="col">
        MATCH 1
      </div>
      <div class="col">
        MATCH 2
      </div>
      <div class="col">
        MATCH 3
      </div>
    </div>
  </div>

<h3>Your Top 5 Courses:</h3>
<div class="container">
  <div class="courses row">
    <div class="col">
      COURSE 1
    </div>
    <div class="col">
      COURSE 2
    </div>
    <div class="col">
      COURSE 3
    </div>
    <div class="col">
      COURSE 4
    </div>
    <div class="col">
      COURSE 5
    </div>
  </div>
</div>

{% endblock %}
