{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item nav-link"><a href="{{url_for('dashboard', status='PROFESSOR')}}">HOME</a></li>
    <li class="nav-item nav-link"><a href="#">BROWSER</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('add')}}">ADD A COURSE</a></li>
  </ul>
</nav>
{% endblock %}

{% block main_content %}
<h1>Create a New Course Entry</h1><br>

<form method=post action="{{ url_for('add') }}" enctype="multipart/form-data">
  <fieldset>
    <table>
    <tr><td><label for="number"> Enter the course number (ex 304):</label></td>
        <td><input id="number" type="text" name="number"></td></tr>
    <tr><td><label for="title">Enter the course title:</label></td>
        <td><input id="title" type="text" name="title"></td></tr>
    <tr><td><label for="capacity">Enter the course capacity:</label></td>
        <td><input id="capacity" type="text" name="capacity"></td></tr>
    <tr><td><label for="waitlistCap">Enter the waitlist capacity:</label></td>
        <td><input id="waitlistCap" type="text" name="waitlistCap"></td></tr>
    <tr><td><label for="description">Enter a brief course description:</label></td>
        <td><input id="description" type="text" name="description"></td></tr>
    <tr><td><label for="courseFile">Upload course materials:</label></td>
        <td><input id="courseFile" type="file" name="courseFile"></td></tr>
    </table>
    </fieldset>

    <p> <input type='submit' value='Add Course'> </p>

</form>

{% endblock %}
