{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item nav-link"><a href="{{url_for('algorithm')}}" id="alg_button">Click to run the algorithm!</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('dashboard', status='PROFESSOR')}}">HOME</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('add')}}">ADD A COURSE</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('view', status='PROFESSOR')}}">VIEW ALL COURSES</a></li>
  </ul>
</nav>
{% endblock %}

{% block main_content %}
<div class="row">
<h1>{{courseInfo['name']}}</h1><br>
<button class="inline_button" type="button">Edit Course</button>
<form method="post" action="" enctype="multipart/form-data">
  <button><label>Choose course materials<input type="file" name="courseFile" style="display:none"></label></button>
  <input type="submit" value="Upload" class="submit_button">
</form>
</div>

<!-- leaving this here for now because we don't have descriptions in database yet... -->
<p>{{courseInfo['description']}}</p>

<h4>Students Matched to the Course:</h4>
<div class="container students">
  <table>
    {% for student in students %}
    <tr>
      <th>{{student['name']}}</th>
    </tr>
    {% endfor %}
    </table>
  </div>

<br><br>
<h4>Course Syllabus/Materials:</h4>
<iframe src="{{syllabus_src}}#toolbar=0"
  width=100% height=500%>
</iframe>

{% endblock %}
