{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item nav-link"><a href="{{url_for('index')}}">HOME</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('testform')}}">BROWSER</a></li>
  </ul>
</nav>
{% endblock %}

{% block main_content %}
<div class="row">
<h1>Course Title Here</h1><br>
<button class="inline_button" type="button">Edit Course</button>
<button class="inline_button" type="button">Upload Materials</button>
</div>

<form>
  <div class="form-group">
    <label for="number">Enter the course number (ex 304):</label>
    <input type="text" class="form-control" id="number">
  </div>
  <div class="form-group">
    <label for="title">Enter the course title:</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="capacity">Enter the course capacity:</label>
    <input type="text" class="form-control" id="capacity">
  </div>
  <div class="form-group">
    <label for="waitlistCap">Enter the course waitlist capacity:</label>
    <input type="text" class="form-control" id="waitlistCap">
  </div>
  <div class="form-group">
    <label for="number">Enter the course number (ex 304):</label>
    <input type="text" class="form-control" id="number">
  </div>
  <div class="form-group">
    <label for="description">Enter a brief course description:</label>
    <input type="textarea" class="form-control" id="description">
  </div>
</form>

{% endblock %}
