{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item nav-link"><a href="#" id="alg_button">Click to run the algorithm!</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('dashboard', status='PROFESSOR')}}">HOME</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('add')}}">ADD A COURSE</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('view', status='PROFESSOR')}}">VIEW ALL COURSES</a></li>
  </ul>
</nav>
{% endblock %}

{% block main_content %}
<h1>Welcome, {{name}}!</h1><br>

<h3>Your Courses:</h3>
<div class="container">
    <div class="courses row">
      {% for course in teaches %}
      <a class="col" href="{{url_for('course', status=status, courseid=course['courseid'])}}">
        <div>
          CS {{course['courseid']}}<br>{{course['name']}}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
    

{% endblock %}
