<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>
    <h1 class="signup_header">Welcome to Elective Matching!</h1>
    <h4 class="signup_sub">Let's get you started.</h4>

    <div class="container">
        <div class="row">
          <div class="col">
              <figure>
                <a href="{{url_for('dashboard', status='STUDENT')}}">
                  <img src="../static/students.png">
                </a>
                <figcaption><em>I am a Student</em></figcaption>
            </figure>
          </div>
          <div class="col">
            <figure>
              <a href="{{url_for('dashboard', status='PROFESSOR')}}">
                <img src="../static/professors.png">
              </a>
                <figcaption><em>I am a Professor</em></figcaption>
            </figure>
          </div>
          </div>
          </div>