{% extends "base.html" %}

{% block nav %}
{% if status=='PROFESSOR' %}
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item nav-link"><a href="#" id="alg_button">Click to run the algorithm!</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('dashboard', status='PROFESSOR')}}">HOME</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('add')}}">ADD A COURSE</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('view', status='PROFESSOR')}}">VIEW ALL COURSES</a></li>
  </ul>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item nav-link"><a href="{{url_for('dashboard', status='STUDENT')}}">HOME</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('preferences')}}">UPDATE PREFERENCES</a></li>
    <li class="nav-item nav-link"><a href="{{url_for('view', status='STUDENT')}}">VIEW ALL COURSES</a></li>
  </ul>
</nav>
{% endif %}
{% endblock %}


{% block main_content %}
<h1>All Available Courses:</h1><br>
  
<!-- change status here to be dynamic once the sessions are up and running -->
{% if status=='PROFESSOR' %}
<table>
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Composite Weight (summed from all student users)</th>
    <th>Meeting Times</th>
    <th>Capacity</th>
    <th>Waitlist Capacity</th>
  </tr>
  {% for row in rows %}
  <tr onClick="document.location.href='{{url_for('course', courseid=row['courseid'], status='PROFESSOR')}}';">
    <td><b>CS {{row['courseid']}}</b></td>
    <td>{{row['name']}}</td>
    <td>{{row['weight']}}</b></td>
    <td>{{row['time']}}</td>
    <td>{{row['capacity']}}</td>
    <td>{{row['waitlistCap']}}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<table>
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Composite Weight (summed from all student users)</th>
    <th>Meeting Times</th>
    <th>Capacity</th>
    <th>Waitlist Capacity</th>
  </tr>
    {% for row in rows %}
    <tr onClick="document.location.href='{{url_for('course', courseid=row['courseid'], status='STUDENT')}}';">
      <td><b>CS {{row['courseid']}}</b></td>
      <td>{{row['name']}}</td>
      <td>{{row['weight']}}</b></td>
      <td>{{row['time']}}</td>
      <td>{{row['capacity']}}</td>
      <td>{{row['waitlistCap']}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
